name: CI
on: push
jobs:
  prod-check:
    runs-on: ubuntu-latest
    container: docker://altendky/ccstudio9:latest
    steps:


    - name: Run a one-line script
      if: github.ref == 'refs/heads/develop'
      run: echo "Deploying to production server on branch"

    - name: one
      if: ${{ github.event.label.name == 'baretest' }}
      run: echo "FileContents=$(cat ${Env:RUNNER_NAME})" >> $Env:GITHUB_ENV

